/*header*/


.letter-sender {
  margin-top: -1rem;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.letter-sender span {
  color: #f9425d; 
}

.letter-send-alret {
  font-size: 1em;
  margin-top: -0.5rem;
}


/* main*/
.letter-main-container {
  /*1.5초마다 heartbeat 애니메이션 반복*/
  animation: heartbeat 1.5s infinite;

  margin: 2rem auto;
  background-color: #fff0f5; 
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.letter-main-container p {
  color: #333;
}

.letter-main-container span {
  color: #f9425d;
  font-weight: bold;
}

/*button container*/

.button-container {
  /* gap은 flex or grid 컨테이너에서만 간격으로 작동*/
  display: flex;
  position: relative;
  min-height: 6rem;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.yes-button, .no-button{
  background: linear-gradient(135deg, #f9425d, #ff7b8c);
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;

  padding: 1rem;
  border-radius: 0.5rem;

  width: 100%;
  cursor: pointer;
}

.yes-button{
  animation: heartbeat 1.5s infinite;
}

.no-button{
  background: linear-gradient(135deg, #ccc, #eee);
  width: 10%;
  font-size: 0.9rem;
}

.yes-button:hover, .no-button:hover {
  transform: scale(1.05); /*버튼 크기를 5%키움*/
  transition: transform 0.2s ease-in-out; 
  /*0.2초동안 부드럽게 커졌다가 돌아옴*/
  
}

.heart-rain {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: 999;
}

.heart {
  position: absolute;
  top: -10%;
  animation: fall linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(-10vh);
  }
  100% {
    transform: translateY(110vh);
  }
}


/* heartbeat : 하트가 두근두근 커졌다가 다시 원래 크기로 돌아오는 효과*/
@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}